<div class="bg-primary bg-gradient text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>{{username}}</h1>
        <h5>{{email}}</h5>
        <h5>{{phoneNumber}}</h5>
      </div>       
    </div>        
  </div>
</div>

{{!-- skills --}}
<div>
  <h2 class="mb-5">Skills</h2>      
  <p>{{highlightedSkills}}</p>
     
</div>

{{!-- work experience --}}
<h2 class="mb-5">Work Experience</h2>
<ul>
  <li>
    <h5 class="text-primary">{{jobTitle1}}</h5>
    <h5>{{companyName1}}</h5>
    <h5>{{jobLocation1}}</h5>
    <h5>{{startDate1}} - {{endDate1}}</h5>
    <p>{{jobDescription1}}</p>
  </li>
  <li>
    <h5 class="text-primary">{{jobTitle2}}</h5>
    <h5>{{companyName2}}</h5>
    <h5>{{jobLocation2}}</h5>
    <h5>{{startDate2}} - {{endDate2}}</h5>
    <p>{{jobDescription2}}</p>
  </li>
  <li>
    <h5 class="text-primary">{{jobTitle3}}</h5>
    <h5>{{companyName3}}</h5>
    <h5>{{jobLocation3}}</h5>
    <h5>{{startDate3}} - {{endDate3}}</h5>
    <p>{{jobDescription3}}</p>
  </li>
</ul>

{{!-- eductaion --}}
<h2 class="mb-5">Education</h2> 
<ul>
  <li>
    <h5 class="text-primary">{{degreeType1}}/ {{schoolName1}} {{eStartDate1}} - {{eEndDate1}}</h5>
  </li>
   <li>
     <h5 class="text-primary">{{certName1}}/ {{certOrg1}} {{certDate1}}</h5>
  </li>
</ul>
